@import url('https://fonts.googleapis.com/css2?family=Roboto');

html {
	font-family: Roboto;
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
/*первая секция*/
.section_first {
	background: #EEEFF1;
}

.logo_menu, .design {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.logo {
	margin-top: 46px;
}

.menu {
	padding: 0;
}

.menu li {
	display: inline-flex;
	flex-direction: row;
	list-style-type: none;
	text-decoration: none;
	border: 0;
	outline: none;
	margin-right: 36px;   
}
/*.dropdown-menu {
	display: none;
	border: none;
	outline: none;
	list-style-type: none;
	font-size: 1.2rem;
	font-weight: 600;
}
  
#dropdownMenuButton {
	position: absolute;
	top: 1em;
	background-color: #ffffff;
	color: #000000;
	border: none;
	outline: none;
	font-size: 1.5rem;
}*/

.row_2 {
	margin-top: 267px;
	margin-bottom: 157px;
}

.button {
	width: 225px;
	height: 65px;
	background: #065190;
	color: #ffffff;

}

/*вторая секция*/
.about {
	margin-top: 112px;
	text-align: center;
}

.about_p {
	margin-top: 50px;
	margin-bottom: 100px;
	text-align: center;
}

/*третья секция*/
.section_third {
	background: #065190;
}

.achievements {
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 100px;
	margin-bottom: 100px;
}
.achievements img {
	width: 100px;
}
.p_achievements {
	color: white;
}
/*четвертая секция*/
.skills {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 100px;
}
.skill_bar {
	width: 445px;
	height: 4px;
	background-color: #34547a;
	border-right: 95.64px solid #C4C4C4;
}
.photo img {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 555px;
}
.skills p {
	line-height: 26px;
	color: #727272;
}
.skills h2 {
	margin-bottom: 50px;
}
/*пятая и восьмая секции*/
.section_fifth, .section_eighth {
	background: #EEEFF1;
}
.work, .web {
	margin-top: 100px;
	align-items: center;
	text-align: center;
}
.work_text, .web_text {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.form {
	display: flex;
	flex-direction: row;
	align-items: center;	
}
.form_message input {
	margin-top: 20px;
	height: 175px;
}
.send {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 100px;
}
.video {
	margin-bottom: 100px;
}
/*шестая секция*/
.gallery {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

}
.gallery img {
	width: 25%;
}
/*седьмая секция*/
.section_seventh {
	background: #065190;
}
.apple_logo {
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.apple_logo img {
	margin-left: 100px;
	width: 100px;
}
/*девятая секция*/
.section_nineth {
	color: #ffffff;
	background: #065190;
}
.footer {
	display: flex;
	flex-direction: row;
	margin-top: 50px;
	margin-bottom: 50px;
}
.footer img {
	margin-top: 20px;
	margin-left: 10px;
}
